# 当前客户端的文件访问根目录和存储根目录
SELF_API_FILE_ACCESS_ROOTS=/Users/songkui/mycode/self_api/tmp_datasets
SELF_API_STORAGE_ROOT=/Users/songkui/mycode/self_api/tmp_datasets/storage

# 当前客户端ip和端口，用于与n8n通信
SELF_API_PUBLIC_BASE_URL=http://127.0.0.1:8666
SELF_API_AUTH_ENABLED=true
SELF_API_AUTH_ADMIN_USERNAME=admin
SELF_API_AUTH_ADMIN_PASSWORD=123456
SELF_API_AUTH_SECRET_KEY=1234567


# n8n的base url,n8n部署在哪台机器的哪个端口（须带 SELF_API_ 前缀以被 Settings 读取）
SELF_API_N8N_BASE_URL=http://192.168.2.26:5678

# 在n8n的设置n8n API中生成
SELF_API_N8N_API_KEY=your_n8n_api_key_here